# Hardhat deploy settings
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
SEPOLIA_PRIVATE_KEY=0xyour_private_key_without_funds_on_mainnet

# Optional deploy greeting
INITIAL_GREETING=Salom, Web3!
